* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color:#d6b2f6;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center; 
  }
  .wrapper {
    box-sizing: content-box;
    width: 500px;
    height:530px;
    padding: 25px 30px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 15px 45px rgba(86, 66, 0, 0.2);
  }
  .game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 10px;
    /* card would be repeated twice as they need to be matched */
    grid-template-columns: repeat(4,auto);
  }
  .stats-container {
    float: right;
    margin-bottom: 15px;
  }
  .stats-container span {
    font-weight: 600;
  }
  .card-container {
    position: relative;
    width: 95px;
    height: 95px;
    cursor: pointer;
  }
  .card-before, .card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before {
    background-color: #dad7ce;
    font-size: 45px;
    font-weight: 600;
  }
  .card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }
  /* card would  flip when it is clicked */
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #d6b2f6;
  }
  button {
    border: none;
    border-radius: 5px;
    padding: 15px 24px;
    cursor: pointer;
  }
  #stop {
    font-size: 16px;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ffffff;
  }
  #stop:hover{
    background-color: gray;
  }
  .controls-container button {
    font-size: 20px;
    box-shadow: 0 10px 30px rgba(86, 66, 0, 0.2);
  }
  button:hover{
    background-color:burlywood;
  }

  .hide {
    display: none;
  }
  #result {
    text-align: center;
  }
  #result h2 {
    font-size: 40px;
  }
  #result h4 {
    font-size: 30px;
    margin: 10px 0 15px 0;
  }
  .image{
    max-height:90px;
    max-width:100px;
  }
  h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .img{
    height:150px;
    width:200px;
    padding: 20px 0;
  }
  .img:hover{
    border-radius: 50%;
  }